
node_modules

# Python virtual environments
venv/
obs-venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Large media and archive files
*.tar.gz
*.zip
*.mp4
*.mkv
*.avi
*.mov
*.iso
*.exe
*.deb
*.bak
*.tar
*.gz
*.7z
*.rar
*.log

# Backup and archive folders
backups/
archives/
logs/
recording/

# IDE and system files
.DS_Store
*.swp
*.swo
*.tmp
*.bak

# Node modules and build artifacts
node_modules/
dist/
build/

# Other large or unnecessary folders
Course_ressources/
portofio_simon_rennauld/
proxmox/
working_channels/

# SSH and config files
.ssh/
*.conf

# Secrets and env files
.env
.env.*
.secrets/
secrets/

.databricks
node_modules
