.action-menu .dropdown-toggle {
    text-decoration: none;
    display: inline-block;
}

.action-menu {
    white-space: nowrap;
    display: inline;

    // Kebab action menus do no show chevrons or extra dropdown icons.
    .dropdown-toggle.no-caret {
        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .dropdown.downleft .dropdown-subpanel-content {
        right: 0;
        left: auto;

        max-width: 270px;
    }

    .dropdown-subpanel.content-displayed .dropdown-toggle {
        background-color: $dropdown-link-hover-bg;

        .theme-dark & {
            background-color: $dm-dropdown-link-hover-bg;
        }
    }

    .dropdown-subpanel-content {
        max-width: $modal-sm;
        box-shadow: rgba(0,0,0,.15) 0 15px 25px, rgba(0,0,0,.6) 0 13px 30px, rgba(0,0,0,.8) 0 2px 3px;
    }

    .dropdown-subpanel-content.show {
        @include optional-animation(0.15s animate-pop);
    }

}

@keyframes animate-pop {
    0% {
        transform: scale(0.90, 0.90);
    }

    100% {
        transform: scale(1, 1);
    }
}

.dir-rtl .action-menu {

    // Chevrons in subpanels items are always to end.
    .dropdown-subpanel .dropdown-item {
        &::after {
            border: 0;
            // @extend .fa-solid;
            // content: fa-content($fa-var-chevron-left);
        }

        &::before {
            display: none;
        }
    }
}

// Make links in a menu clickable anywhere in the row.
.dropdown-item {
    a {
        display: block;
        width: 100%;
    }

    &.active,
    &:active,
    &:hover,
    &:focus,
    &:focus-within {
        background-color: $dropdown-link-active-bg;
        color: $dropdown-link-active-color;

        .theme-dark & {
            background-color: $dm-dropdown-link-active-bg;
            color: $dm-dropdown-link-active-color;
        }

        a {
            color: $dropdown-link-active-color;

            .theme-dark & {
                color: $dm-dropdown-link-active-color;
            }
        }
    }
    
    &:focus,
    &:focus-within {
        outline: 2px solid rgba($blue-500, 0.9);
        outline-offset: 2px;
    }

    &[aria-current="true"],
    &[aria-selected="true"] {
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            // @extend .fa-solid;
            // content: fa-content($fa-var-check);
            position: absolute;
            left: 0.4rem;
            font-size: 0.7rem;
        }
    }
}

.dropdown-item-outline {

    &:focus,
    &:focus-within {
        outline: solid $dropdown-link-active-bg;

        .theme-dark & {
            outline: solid $dropdown-link-active-bg;
        }

    }

    a:focus,
    a:focus-visible {
        outline: 0;
    }
}
