.singlebutton {
    display: inline-block;

    +.singlebutton {
        margin-left: $spacer * 0.5;
    }

    +.btn-link {
        margin-left: .35rem;
    }
}

.continuebutton {
    text-align: right;

    @include media-breakpoint-between(xs, sm) {

        .btn,
        a {
            width: 100%;
        }
    }
}

p.arrow_button {
    margin-top: 5em;
    text-align: center;
}

#addcontrols {
    // This is displayed in a column between 2 20 row multi-selects. This should be just short of half way.
    margin-top: 38px;
    text-align: center;

    label {
        display: inline;
    }
}

#removecontrols {
    margin-top: 10px;
}

#addcontrols,
#removecontrols {
    input {
        width: 100%;
        margin: auto;
    }
}

.btn-lineup {
    margin: 0 0 10px 5px;
}

.btn.btn-icon {
    height: ($icon-width + 20px) !important;
    width: ($icon-width + 20px);
    font-size: $icon-width;
    line-height: $icon-width;
    padding: 0 !important;
    border-radius: $btn-border-radius;
    flex-shrink: 0;

    justify-content: center;

    .action-menu & {
        width: auto;
        font-size: $font-size-sm;
    }

    .action-menu.dropdown-btn & {
        background-color: transparent;
    }

    .sticky-header-settings-menu &,
    #headerBtn & {
        padding: 0;
        height: ($icon-width + 20px);
        width: ($icon-width + 20px);
    }

    .rui-activity-actions & {
        width: auto;
        height: 40px;
        padding: 0 1rem;
        font-size: $font-size-sm;

        @include hover-focus {
            background-color: $gray-200;

            .theme-dark & {
                background-color: $dm-gray-200;
            }
        }
    }

    @each $size, $length in $iconsizes {
        &.icon-size-#{$size} {
            height: ($length + 20px) !important;
            /* stylelint-disable-line declaration-no-important */
            width: ($length + 20px) !important;
            /* stylelint-disable-line declaration-no-important */
            font-size: $length !important;
            /* stylelint-disable-line declaration-no-important */
            line-height: $length !important;
            /* stylelint-disable-line declaration-no-important */
        }
    }
}

.btn-icon--xs {
    width: 30px;
    height: 30px;
    font-size: $icon-width;
    line-height: $icon-width;
    padding: 0;
    border-radius: $btn-border-radius-xl;
    flex-shrink: 0;

    @include hover-focus {
        background-color: $gray-200;

        .theme-dark & {
            background-color: $dm-gray-200;
        }
    }
}


.btn--topbar {
    /*margin-right: -20px;*/
    color: $body-color-secondary;

    .theme-dark & {
        color: $dm-body-color-secondary;
    }

    &:hover {
        background-color: $gray-100;
        color: $body-color;

        .theme-dark & {
            background-color: $dm-gray-100;
            color: $dm-body-color;
        }
    }
}


.settings-menu {
    form {
        margin: 0;
    }
}

// Loading icon inside button
.btn {
    .loading-icon {
        img {
            width: 14px;
            height: 14px;
        }
    }
}

@mixin button-focus($background, $innershadow) {
    &:focus,
    &.focus {
        outline: $btn-focus-width solid darken($background, 40%);
        box-shadow: inset 0 0 0 2px $innershadow;
    }
}

@if variable-exists(accessiblebtnfocus) {
    @if $accessiblebtnfocus==1 {

        @each $color, $value in $theme-colors {
            .btn-#{$color} {
                @include button-focus($value, $white);
            }
        }

        @each $color, $value in $theme-colors {
            .btn-outline-#{$color} {
                @include button-focus($value, $gray-800);
            }
        }
    }
}

.btn-footer-communication {
    position: fixed;
    bottom: 70px;
    right: 16px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: $btn-border-radius;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $primary-color-600;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $primary-color-500;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .theme-dark & {
        background-color: $primary-color-500;
        color: $white;
    }
}