.secondary-navigation {
    max-width: 100%;
    width: max-content;
    margin: 0 0 30px;

    @include media-breakpoint-down(md) {
        width: 100%;
    }

    #page-site-index & {
        margin: 30px auto;
    }

    #page-admin-search & {
        display: none;
    }

    @include media-breakpoint-up(lmd) {
        position: sticky;
        top: 10px;
        z-index: 1028;

        #page-question-edit &,
        #page-grade-report-grader-index & {
            position: relative;
        }

        #page-site-index & {
            top: 24px;
        }
    }

    .navigation {
        .nav-tabs {
            .nav-link {
                @include media-breakpoint-up(md) {
                    padding: 8px 16px;
                }

                @include media-breakpoint-between(xs, sm) {
                    padding: 6px 10px;
                }

                border-radius: $btn-border-radius;

                @include media-breakpoint-up(md) {
                    font-size: $font-size-sm;
                }

                @include media-breakpoint-between(xs, sm) {
                    font-size: $font-size-xs;
                }

                &.active {
                    background-color: $primary-color-100;
                    color: $primary-color-600;

                    .theme-dark & {
                        background-color: $dm-gray-300;
                        color: $dm-gray-800;
                    }
                }

                &:hover {
                    background-color: $gray-300;
                    color: $primary-color-600;

                    .theme-dark & {
                        background-color: $primary-color-600;
                        color: $primary-color-100;
                    }
                }
            }
        }
    }
}